<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (locals.loggedin) { %>
      <!-- New 'Welcome' link, visible only when logged in -->
      <a href="/account/" title="Account Management">Welcome <%= locals.accountData.account_type %></a>
      <!-- Logout link, visible only when logged in -->
      <a href="/account/logout" title="Click to log out">Logout</a>
    <% } else { %>
      <!-- My Account link, visible only when logged out -->
      <a title="Click to log in" href="/account/login">My Account</a>
    <% } %>
  </div>
</header>